apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ JH_SHARED_STORAGE_PV_NAME }}
spec:
  accessModes:
    - {{ MANILA_SHARE_ACCESS_MODE }}
  capacity:
    storage: {{ MANILA_SHARE_SIZE}}Gi
  csi:
    driver: cephfs.csi.ceph.com

    # Unique identifier of the volume.
    # Can be anything, but we recommend to set it to the PersistentVolume name.
    volumeHandle: {{ JH_SHARED_STORAGE_PV_NAME }}

    # Secret name and namespace in both nodeStageSecretRef
    # and nodePublishSecretRef must match the Secret created above.
    nodeStageSecretRef:
      name: csi-cephfs-secret
      namespace: ceph-csi-cephfs
    nodePublishSecretRef:
      name: csi-cephfs-secret
      namespace: ceph-csi-cephfs

    volumeAttributes:
      # The volume attributes below are passed to the cephfs-csi driver.
      # For complete list of available volume parameters please see
      # https://github.com/ceph/ceph-csi/blob/devel/docs/deploy-cephfs.md

      monitors: {{ MANILA_CEPH_MONITORS }}
      rootPath: {{ MANILA_CEPH_ROOT_PATH }}
      provisionVolume: "false"

